*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl-SAVE-ERROR

tree.txt
tree-2.txt

*.symvers
*.order
*.ko
*.mod
*.mod.c
*.o
*.cmd
*.save

theory.md
compress.sh
